.settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
}

.settings div {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings input {
    border-radius: 3px;
    border: #61dafb;
}

.error {
    background-color: red;
}
